.video__iframes {
  margin-top: 50px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  z-index: 2;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
}
