.kaufman__triangle {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  background-image: url(../../../images/kaufman-triangle.svg);
  right: -210px;
  width: 877px;
  height: 877px;
  background-size: contain;
}
